@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
.header> h5{
    font-family:'Pacifico', 'cursive';
    font-size: 26px; 
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(204, 15, 106);
    color: rgb(223, 226, 226);
    height: fit-content;
}
body {
    background-color: antiquewhite;
    max-width: 100%;
    font-size: 20px;  
    line-height: 1.5;
}
#of{
    color: blueviolet;
    font-family: Georgia, Times;
}
.logo{
    font-family: cursive;
    font-size: 35px;
    font-weight: 800;
    color: rgb(204, 15, 106);
    
}
#items {
    font-family:'caveat';
    font-size:30px;
    color: rgb(204, 15, 106);
    font-weight: 700;
    text-align: center;

}
.custom {
    font-family: 'Tektur', sans-serif;
    color: rgb(204, 15, 106);
}
.custom > li a:hover {
    color: ghostwhite;
    background-color: #cc0f6a;
    width: fit-content;
}
.custom > li:hover{
    color: blueviolet;
    width: fit-content;
}
.custom> li a{
    text-decoration: none;
    color: rgb(151, 68, 8);
}
img {
    width: 155px;
    height: 155px;
}
.main-row{
    
    display: flex;
  justify-content:space-evenly;
  padding-top: 50px;

}
.header{
    text-align: center;
    
}
.hr-line{
    border: 1px solid blueviolet;

}
/* .header #items{
    background-color: rgb(185, 19, 19);
    width: max-content;
} */